
/* utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* main code */
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container{
    width: 50%;
    height: 50%;
    display: flex;
}

#slider{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.slider-container{
    height: 100%;
    width: 75%;
}

.image{
    width: 100%;
    height: 100%;
    display: none;
}

.image.show{
    display: block;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.btn{
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border: 2px solid white;
}

.btn.up{
    top: 10px;
}

.btn.down{
    bottom: 10px;
}

.btn i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.btn.down i{
    padding-top: 5px;
}

.btn.hide{
    display: none;
}

#thumbs{
    height: 100%;
    width: 100%;
}

#thumbs-container{
    height: 100%;
    width: 25%;
    display: inline-block;
    position: relative;
}

.thumbs-images{
    height: calc(100% / 5);
    border: 1px solid black;
}

.thumbs-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.brightness{
    filter: brightness(0.4);
}

.activeThumbs{
    border: 3px solid lightgrey;
}